<section data-ng-controller="ResumesController">
    <div class="page-header">
        <h1>New Resume</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="profile">Set or Add New Profile</label>
                    <div class="controls">
                        <md-select data-ng-model="profile" md-on-open="findBiodata()" style="min-width: 200px;">
                            <md-select-label>{{ profile ? profile.name : 'Set a profile' }}</md-select-label>
                            <md-option ng-value="profile" ng-repeat="profile in biodata">{{profile.name}}</md-option>
                        </md-select>
                        <p class="md-caption">You have assigned the task to: {{ profile ? profile.name : 'No one yet' }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Sections</label>
                    <div class="controls" ng-repeat="field in sects.fields track by $index">
                        <md-select data-ng-model="sects.fields[$index]" md-on-open="findSections()" style="min-width: 200px;">
                            <md-select-label>{{ sects.fields[$index] ? sects.fields[$index].name : 'Set a section' }}</md-select-label>
                            <md-option ng-value="sect" ng-repeat="sect in sections">{{sect.name}}</md-option>
                        </md-select>
                        <md-button md-no-ink="" class="md-primary" ng-click="removeSect($index);" type="button">delete</md-button>                        
                    </div>
                    <md-button md-no-ink="" class="md-primary" ng-click="addSect();" type="button">Add new section</md-button>
                    
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
            <pre>{{ sects | json }}</pre>
        </form>
    </div>
</section>